goosegmse_output.html
sims.Rdata
file60172ba0ce5b.log
file6017528dc871.log
file6017540018c8.log
file601755722f95.log
.~lock.goosegmse_output.docx#
cull_summary.Rdata
goosegmse_output.Rmd
goosegmse_output.docx
goosegmse_output.md
goosegmse_output.pdf
in_summary.Rdata
mainPlot.rdata
orig_data.Rdata
output_summary.Rdata
test.doc
mainPlot.png
